{% extends "base.html" %}
{% load static %}
{% block stylesheet %}
	<style type="text/css">
			circle {
			  stroke: #fff;
			  stroke-width: 2px;
			}
			p {
				font-family: Helvetica, sans-serif;
				font-size: 12px;
			}
			input[type=radio] {
				margin-left: 40px;
			}
		</style>
{% endblock stylesheet %}
{% block title %}
	Câu b
{% endblock title %}

{% block content %}
	<br>
	<h1>Sử dụng <span style="color:#1e85d6">MENTOR II</span> </h1>
	<form>
	  <div class="form-row">
	    <div class="col">
	    	<label for="">X</label>
	      <input type="text" class="form-control X" value="X=1000" disabled placeholder="X">
	    </div>
	    <div class="col">
	    	<label for="">Số nút</label>
	     	 <input type="text" class="form-control node" value="80" placeholder="Số nút">
	    </div>
	    <div class="col">
	    	<label for="">R</label>
	      <input type="text" class="form-control R" value="0.3" placeholder="R">
	    </div>
	    <div class="col">
	    	<label for="">&alpha;</label>
	      <input type="text" class="form-control alpha" value="0.7" placeholder="&alpha;">
	    </div>

	  </div>
	  <br>
	  <div class="form-row">
	    <div class="col">
	    	<label for="">Y</label>
	      <input type="text" class="form-control Y" value="Y=1000" disabled placeholder="Y">
	    </div>
	    <div class="col">
	    	<label for="">W</label>
	      <input type="text" class="form-control W" value="4" placeholder="W">
	    </div>
	    <div class="col">
	    	<label for="">C</label>
	      <input type="text" class="form-control C" value="3" placeholder="C">
	    </div>
	    <div class="col">
	    	<label for="">U<sub>min</sub></label>
	      <input type="text" class="form-control U" value="0.7" placeholder="Umin">
	    </div>
	    
	  </div>
	</form>
	<br>
	<button type="button" style="border: 3px solid #deff31" class="btn btn-info cau_a">Random Node</button>


{% endblock content %}


{% block scripts %}
	
	<script type="text/javascript" src="{% static "js/prim_dijkstra.js" %}"></script>
{% endblock scripts %}MAXCOST