{% extends "base.html" %}
{% load static %}
{% block stylesheet %}
	<style type="text/css">
			circle {
			  stroke: #fff;
			  stroke-width: 2px;
			}
			p {
				font-family: Helvetica, sans-serif;
				font-size: 12px;
			}
			input[type=radio] {
				margin-left: 40px;
			}
		</style>
{% endblock stylesheet %}
{% block title %}
	Câu a
{% endblock title %}

{% block content %}
	<br>
	<h1>Mô phỏng <span style="color:#1e85d6">MENTOR I</span> và <span style="color:#1e85d6">Prim – Dijkstra</span>  </h1>
	<br>
	<form style="display:none">
  <div class="form-row">
    <div class="col">
    	<label for="">X</label>
      <input type="text" class="form-control X" value="X=1000" disabled placeholder="X">
    </div>
    <div class="col">
    	<label for="">Số nút</label>
     	 <input type="text" class="form-control node" value="80" placeholder="Số nút">
    </div>
    <div class="col">
    	<label for="">R</label>
      <input type="text" class="form-control R" value="0.3" placeholder="R">
    </div>
    <div class="col">
    	<label for="">&alpha;</label>
      <input type="text" class="form-control alpha" value="0.7" placeholder="&alpha;">
    </div>

  </div>
  <br>
  <div class="form-row">
    <div class="col">
    	<label for="">Y</label>
      <input type="text" class="form-control Y" value="Y=1000" disabled placeholder="Y">
    </div>
    <div class="col">
    	<label for="">W</label>
      <input type="text" class="form-control W" value="4" placeholder="W">
    </div>
    <div class="col">
    	<label for="">C</label>
      <input type="text" class="form-control C" value="3" placeholder="C">
    </div>
    <div class="col">
    	<label for="">U<sub>min</sub></label>
      <input type="text" class="form-control U" value="0.7" placeholder="Umin">
    </div>
    
  </div>
</form>
	<br>
	<button type="button" class="btn btn-info random">Random Node</button>
	<button type="button" class="btn btn-warning backbone">Node Backbone</button>
	<button type="button"  class="btn btn-danger cau_a">Prim - Dijkstra</button>

{% endblock content %}

{% block scripts %}
	
	<script type="text/javascript" src="{% static "js/random.js" %}"></script>
	<script type="text/javascript" src="{% static "js/backbone.js" %}"></script>
	<script type="text/javascript" src="{% static "js/prim_dijkstra.js" %}"></script>
{% endblock scripts %}