{% extends "base.html" %}

{% block stylesheet %}
	<style type="text/css">
			circle {
			  stroke: #fff;
			  stroke-width: 2px;
			}
			p {
				font-family: Helvetica, sans-serif;
				font-size: 12px;
			}
			input[type=radio] {
				margin-left: 40px;
			}
		</style>
{% endblock stylesheet %}
{% block title %}
	Mô phỏng thuật toán MENTOR
{% endblock title %}

{% block content %}
	<br>
	<h1>Mô phỏng thuật toán <span style="color:#1e85d6">MENTOR</span> </h1>
	<br>
	<form>
  <div class="form-row">
    <div class="col">
    	<label for="">X</label>
      <input type="text" class="form-control X" value="X=1000" disabled placeholder="X">
    </div>
    <div class="col">
    	<label for="">Số nút</label>
     	 <input type="text" class="form-control node" value="80" placeholder="Số nút">
    </div>
    <div class="col">
    	<label for="">R</label>
      <input type="text" class="form-control R" value="0.3" placeholder="R">
    </div>
    <div class="col">
    	<label for="">&alpha;</label>
      <input type="text" class="form-control alpha" value="0.7" placeholder="&alpha;">
    </div>

  </div>
  <br>
  <div class="form-row">
    <div class="col">
    	<label for="">Y</label>
      <input type="text" class="form-control Y" value="Y=1000" disabled placeholder="Y">
    </div>
    <div class="col">
    	<label for="">W</label>
      <input type="text" class="form-control W" value="4" placeholder="W">
    </div>
    <div class="col">
    	<label for="">C</label>
      <input type="text" class="form-control C" value="3" placeholder="C">
    </div>
    <div class="col">
    	<label for="">U<sub>min</sub></label>
      <input type="text" class="form-control U" value="0.7" placeholder="Umin">
    </div>
    
  </div>
</form>
	<br>
	<a  href="{% url "cau_a" %}" class="btn btn-info cau_a">Câu a</a>
	<a href="{% url "cau_b" %}" class="btn btn-danger">Câu b</a>
	<a href="{% url "cau_c" %}" class="btn btn-primary">Câu c</a>

{% endblock content %}


