{% extends "base.html" %}

{% block stylesheet %}
	<style type="text/css">
			circle {
			  stroke: #fff;
			  stroke-width: 2px;
			}
			p {
				font-family: Helvetica, sans-serif;
				font-size: 12px;
			}
			input[type=radio] {
				margin-left: 40px;
			}
		</style>
{% endblock stylesheet %}
{% block title %}
	Home page
{% endblock title %}

{% block content %}
	<br>
	<h1>Mô phỏng thuật toán <span style="color:#1e85d6">MENTOR II</span> </h1>
	<br>
	<form>
  <div class="form-row">
    <div class="col">
    	<label for="">X</label>
      <input type="text" class="form-control X" value="X=10000" disabled placeholder="X">
    </div>
    <div class="col">
    	<label for="">Số nút</label>
     	 <input type="text" class="form-control node" value="80" placeholder="Số nút">
    </div>
    <div class="col">
    	<label for="">R</label>
      <input type="text" class="form-control R" value="0.3" placeholder="R">
    </div>
    <div class="col">
    	<label for="">&alpha;</label>
      <input type="text" class="form-control alpha" value="0.7" placeholder="&alpha;">
    </div>

  </div>
  <br>
  <div class="form-row">
    <div class="col">
    	<label for="">Y</label>
      <input type="text" class="form-control Y" value="Y=10000" disabled placeholder="Y">
    </div>
    <div class="col">
    	<label for="">W</label>
      <input type="text" class="form-control W" value="4" placeholder="W">
    </div>
    <div class="col">
    	<label for="">C</label>
      <input type="text" class="form-control C" value="3" placeholder="C">
    </div>
    <div class="col">
    	<label for="">U<sub>min</sub></label>
      <input type="text" class="form-control U" value="0.7" placeholder="Umin">
    </div>
    
  </div>
</form>
	<br>
	<button type="button" style="border: 3px solid #deff31" class="btn btn-info cau_a">Câu a</button>
	<button type="button" class="btn btn-danger">Câu b</button>
	<button type="button" class="btn btn-primary">Câu c</button>

{% endblock content %}


{% block scripts %}

	<script type="text/javascript">
		$(function(){
			$('.cau_a').click(function(){

				$("svg").remove();
				var MaxRange = Math.random() * 1000;
				var C=  $('.C').val();
				var R = $('.R').val();
				var W = $('.W').val();
				var node = $(".node").val();
				var alpha = $(".alpha").val();
				var Umin = $('.U').val();

				var cw = C*W;
				var backbone = []				

				//Width and height
				var w = 1110;
				var h = 660;
				var padding = 40;

				//Dynamic, random dataset
				var dataset = {
					nodes: [

					],
					links:[

					],
					weight:[
					]
				};

				// Khởi tạo giá trị WEIGHT
				for (var i=0;i<node;i++){
					dataset.weight[i] =1;
				};
				dataset.weight[4] = dataset.weight[59] = dataset.weight[69]=10;
				dataset.weight[6] = dataset.weight[22] = dataset.weight[44]=15;
				dataset.weight[51] = dataset.weight[77] = dataset.weight[64]=5;
				dataset.weight[31] = dataset.weight[56] = dataset.weight[47]=3;	

				// Xac dinh toa do + Nodes
				for (var i = 0; i < node; i++) {
					var newNumber1 = Math.floor(Math.random() * MaxRange);
					var newNumber2 = Math.floor(Math.random() * MaxRange);
					dataset.nodes.push({name:i+1,group:i+1,backbone:false,weight:0,degre:[newNumber1, newNumber2]});
				}
				// Xac dinh nut Backbone
				for (var i = 0; i<dataset.nodes.length;i++){
					if (dataset.weight[i] > cw){
						dataset.nodes[i].backbone = true;
						backbone.push(i);
					}
				}

				// tinh MAXCOST
				var MAXCOST = -1;
				for (var i = 0; i < dataset.nodes.length ; i++){
					var ei_x = dataset.nodes[i].degre[0];
					var ei_y = dataset.nodes[i].degre[1];

					for (var j = i + 1; j < dataset.nodes.length; j++){
						var ej_x = dataset.nodes[j].degre[0];
						var ej_y = dataset.nodes[j].degre[1];
						var distance = Math.pow(ei_x-ej_x,2)+Math.pow(ei_y-ej_y,2);

            			MAXCOST = Math.max(MAXCOST, Math.sqrt(distance));
					}
				}

				// Tim Nut Truy Nhap

				for (var i = 0;i <backbone.length;i++){
					var ei_x = dataset.nodes[backbone[i]].degre[0];
					var ei_y = dataset.nodes[backbone[i]].degre[1];
					for (var j = 0; j < dataset.nodes.length; j++){
						var ej_x = dataset.nodes[j].degre[0];
						var ej_y = dataset.nodes[j].degre[1];
						var distance = Math.pow(ei_x-ej_x,2)+Math.pow(ei_y-ej_y,2);
						var dis = Math.sqrt(distance);

						if ((MAXCOST*R > dis) && (backbone.indexOf(j)<0)){
							dataset.links.push({source: backbone[i], target:j})							
						}
					}

				};
				// xoa nut trung
				var getListTarget = function(array){
					var listTarget = [];

					for (var i =0; i < array.length;i++){
						listTarget.push(array[i].target);
					}
					return listTarget;
				}

				var countList = []
				var listData = getListTarget(dataset.links)
				for (var i=0;i < listData.length;i++){
				  countList.push(listData.filter(x => x === listData[i]).length);
				}

				for (var i=0; i< countList.length;i++){
				  if (countList[i] > 1){
				    delete dataset.links[i]
				  }
				}

				var data=[]
				for (var i=0;i<dataset.links.length;i++){
				  if (dataset.links[i] != null){
				    data.push(dataset.links[i]);
				  }
				}
				dataset.links = data;
				
		
				// Tim Center of Gravity - CG
				var Xcg  = 0, Ycg = 0, maxWeight =0, maxDistance =0, distanceList = [], maritList =[];
				var totalWeight = 0, totalXWeight = 0, totalYWeight = 0;
				for (var i=0; i<dataset.nodes.length; i++){
					totalWeight += dataset.weight[i];
					totalXWeight += dataset.nodes[i].degre[0]*dataset.weight[i];
					totalYWeight += dataset.nodes[i].degre[1]*dataset.weight[i];
				}
				Xcg=  totalXWeight/totalWeight;
				Ycg=  totalYWeight/totalWeight;
				maxWeight = Math.max(...dataset.weight)

				for (var i = 0 ; i<dataset.nodes.length;i++){
					var ei_x = dataset.nodes[i].degre[0];
					var ei_y = dataset.nodes[i].degre[1];
					var distance = Math.pow(ei_x-Xcg,2)+Math.pow(ei_y-Ycg,2);
					var dis = Math.sqrt(distance);
					distanceList.push(dis);
				}
				maxDistance =  Math.max(...distanceList)

				for (var i=0;i <dataset.nodes.length;i++){
					var marit = 0.5*(maxDistance-distanceList[i])/maxDistance+0.5*dataset.weight[i]/maxWeight;
					maritList.push(marit);
				}


				//Create scale functions
				var xScale = d3.scaleLinear()
									 .domain([0, 1000])
									 .range([padding, w - padding / 2]);
				var yScale = d3.scaleLinear()
									 .domain([0, 1000])
									 .range([h - padding, padding / 2]);
				// Xac dinh X axis
				var xAxis = d3.axisBottom()
								  .scale(xScale)
								  .ticks(10);
				// Xac dinh Y axis
				var yAxis = d3.axisLeft()
								  .scale(yScale)
								  .ticks(10);

				// Tao Force
				var force = d3.forceSimulation(dataset.nodes)
						  .force("charge", d3.forceManyBody().strength(-30))
						  .force("link", d3.forceLink(dataset.links))
						  .force("center", d3.forceCenter((w/2,h/2)));

				var colors = d3.scaleOrdinal(d3.schemeCategory10);

				// Tao SVG
				var svg = d3.select(".container")
							.append("svg")
							.attr("width", w)
							.attr("height", h);

				// Tao Links
				var links = svg.selectAll("line")
								.data(dataset.links)
								.enter()
								.append("line")
								.style("stroke", "#ccc")
								.style("stroke-width", 1);


				//Create nodes as circles
				var nodes = svg.selectAll("circle")
					.data(dataset.nodes)
					.enter()
					.append("circle")
					.attr("r", 9)
					.style("fill",function(d){
						if (d.backbone){
							return '#ffc107'
						} else{
							return "rgb(127, 228, 100)"
						}

					})
					.call(d3.drag);

				d3.select(".container").select("svg").selectAll("text")
					.data(dataset.nodes)
					.enter()
					.append("text")
					.text(function(d) {
						return d.name;
					})
					.attr("x", function(d) {
						return 1.05*d.degre[0]+padding+4;
					})
					.attr("y", function(d){
						return 620-0.6*d.degre[1]-4;
					})
					.attr("font-family", "sans-serif")
					.attr("font-size", "11px")
					.attr("fill", "red");

				//Add a simple tooltip
				nodes.append("title")
					 .text(function(d) {
						return d.name;
					 });
				
				//Every time the simulation "ticks", this will be called
				force.on("tick", function() {
					links.attr("x1", function(d) { return 1.05*d.source.degre[0]+padding; })
				        .attr("y1", function(d) { return 620-0.6*d.source.degre[1]; })
				        .attr("x2", function(d) { return 1.05*d.target.degre[0]+padding; })
				        .attr("y2", function(d) { return 620-0.6*d.target.degre[1]; });

					nodes.attr("cx", function(d) { return 1.05*d.degre[0]+padding })
						 .attr("cy", function(d) { return 620-0.6*d.degre[1] });
		
				});

				//Tao X axis
				svg.append("g")
					.attr("class", "axis")
					.attr("transform", "translate(0," + (h - padding) + ")")
					.call(xAxis);
				
				//Tao Y axis
				svg.append("g")
					.attr("class", "axis")
					.attr("transform", "translate(" + padding + ",0)")
					.call(yAxis);


			});
		});
	</script>
{% endblock scripts %}MAXCOST